@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #2c302d;
}


/*_______________________________Header_______________________________*/

header {
    display: block;
    width: 100%;
    background-color: #000000;
}

header div {
    display: flex;
    width: 320px;
    margin: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

header div a { /* Hyperlink */
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.3s;
}

header div a:hover {
    color: #52cf47;
    transition-duration: 0.3s;
}

#header_active {
    color: #707070;
    transition-duration: 0.3s;
    cursor: context-menu;
}


/*_______________________________Cards_______________________________*/

.container { /* TODO: Stack vertically. */
    position: absolute;
    width: 100%;
    height: 100vh;
    padding-top: 25px; /* Add space between header and content */
}

.card_container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: white;
}

.card {
    width: 70%;
    height: 85%;
    max-height: 300px;
    text-align: center;
    background: #191a19;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    box-shadow: 16px 16px 44px #0a0a0a80, -16px -16px 44px #282a2880;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
}

.card:hover {
    margin-top: -10px;
}

.card__header { /* TODO: Use inheritance instead of seperate classes */
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px auto;
}

.card__button { /* TODO: Use inheritance instead of seperate classes */
    padding: 10px;
    border-radius: 50px;
    background: #2dad1c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
}


/*_______________________________Responsiveness_______________________________*/

@media only screen and (max-width: 1400px) { /* For screens between 1100-1400px, show 4 images side by side. Above 1400 = 5. */
    .card_container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  
@media only screen and (max-width: 1100px) { /* For screens between 800-1100px, show 3 images side by side. */
    .card_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) { /* For screens between 550-800px, show 2 images side by side. */
    .card_container {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media only screen and (max-width: 550px) { /* For screens smaller than 550px, stack the images vertically (100%). */
    .card_container {
        grid-template-columns: 1fr;
    }
}

/*_______________________________Other_______________________________*/

#loading {
    display: block;
    width: 3em;
    margin: auto;
    animation: spin 0.8s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}