@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: #2c302d;
}


/*_______________________________Header_______________________________*/

header {
    width: 100%;
    background-color: #000000;
    text-align: center;
}

header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    /* padding: 20px 0; */
}

header div a { /* Hyperlink */
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition-duration: 0.3s;
}

header div a:hover {
    color: #52cf47;
    transition-duration: 0.3s;
}

#header_active {
    color: #9b9b9b; /* TODO: Fix. */
    transition-duration: 0.3s;
    cursor: context-menu;
}


/*_______________________________Cards_______________________________*/

#main-container { /* TODO: Stack vertically. */
    width: 100%; /* 100vw */
    height: 100%; /* 100vh */
    padding-top: 2rem; /* Add space between header and content */
    margin: 0; /* Old: margin: 0 auto; */
    /* align-items:center; */
}

#card-container { /* Target by id */
    /* width: auto;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 0 1rem;
    gap: 2rem 2rem; https://stackoverflow.com/questions/20626685
    flex-direction: row;
    justify-items: center; */

    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    color: white;
    padding: 2rem;
    max-width: 110rem;
}

.card { /* Target by class */
    width: 90%;
    height: 14rem;
    margin: 1rem; /* The space around an element's border. In this case only seems to control bottom/top spacing */
    /* padding: auto; /* The space between an element's border and its content */

    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;

    text-align: center;
    /* background: linear-gradient(15deg, #191a19 40%, #02271c); */
    background: #191a19;
    border-radius: 1.2rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    transition: 0.2s all ease-in-out;
}

.card:hover {
    /* margin-top: -5px; */
    margin: 0.6rem;
    width: 94%;
    height: 14.7rem;
}

h3.card {
    /* text-transform: uppercase; */
    font-size: 20px;
    /* margin: 30px auto; */
}

.details-button {
    padding: 0.6rem 1rem;
    width: auto;
    border-radius: 50px;
    background: #2dad1c0e;
    color: white;
    cursor: pointer;
    border: none;
    /* margin: 50px auto; */
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.details-button:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

/*_______________________________Responsiveness_______________________________*/

@media (min-width: 40rem) {
    #card-container {
        grid-template-columns: 1fr 1fr;
    }
}
  
@media (min-width: 58rem) {
    #card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 76rem) {
    #card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 94rem) {
    #card-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*_______________________________Play Button Icons_______________________________*/

.play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 3.5rem;
    border-color: transparent transparent transparent #404040;
    transition: 100ms all ease;
    cursor: pointer;
    border-style: solid;
    border-width: 2rem 0 2rem 3.5rem;
    margin-left: 0.4rem; /* Shift slightly to the right */
  }
  .play-button.playing {
    border-style: double;
    border-width: 0 0 0 3rem;
    margin-left: 0;
  }
  .play-button:hover {
    border-color: transparent transparent transparent #606060;
  }

/*_______________________________Other_______________________________*/

#loading {
    display: block;
    width: 3em;
    margin: 2rem auto; /* Add space above and below element. The sides are set to auto so that it gets centred. */
    animation: spin 0.8s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}