@tailwind base;
@tailwind components;
@tailwind utilities;

/* These should ideally be applied to the body, but NextJS automatically adds a div under the <body> element. */
#__next {
    @apply flex flex-col min-h-screen container mx-auto px-4 md:px-12 relative
}

.focusable {
    @apply focus:outline-none focus:ring-primary focus:ring-2
}

/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
:root { 
    --color-bg1: #ffffff;
    --color-bg2: 240 240 240;
    --color-fg: 17 23 16;
    --color-primary: 8 139 0;
    --color-secondary: 114 203 123;
    --color-accent: 92 119 255;
    --color-red: #bb2525;
}
:root[data-theme="dark"] {
    --color-bg1: #262931;
    --color-bg2: 13 13 13;
    --color-fg: 232 238 231;
    --color-primary: 64 204 57;
    --color-secondary: 70 139 77;
    --color-accent: 114 137 255;
    --color-red: #bb2525;
}

/* Uncomment for debugging aid */
/* * {
    outline: 1px solid #ff000060;
    outline-offset: -1px;
    background-color: #ff000004;
} */
