/*#region _____________________________ Reset / Defaults ______________________________*/

* {
  margin: 0; /* Remove default margin */
  /* [old] padding: 0; */
  box-sizing: border-box; /* A more intuitive box-sizing model */
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

img, picture, video, canvas, svg {
  max-width: 100%; /* Stop images from overflowing & fix weird spacing */
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /* Stop text from overflowing */
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}


input, button, textarea, select {
font: inherit; /* Inputs and buttons should inheret font styles */
}

/*#endregion*/


#main-container {
  width: 100%; /* [old] 100vw */
  height: 100%; /* [old] 100vh */
  margin: 0; /* [old] 0 auto; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
}


/*#region __________________________________ Themes ___________________________________*/

:root {
  --primary: #12852d; /* #9A97F3; */
  --secondary: #818cab;
  --font: #e1e1ff;
  --bg: #282c34; /* #2c302d; #242424; */
  --panel: #171717;
  --hover: #606060;
  --theme-label-image: url('./assets/img-app/sun.svg');
  /* --loading-image: url('media/img-app/loading-dark.png'); */
  /* --details-bg: #09c6454c; */
}

[data-theme="light"] {
  --primary: #13ad37;
  --secondary: #e77421;
  --font: #424242;
  --bg: rgb(235, 235, 235);
  --panel: #fff;
  --hover: #afafaf; /* #606060; */
  --theme-label-image: url('./assets/img-app/moon.svg');
  /* --loading-image: url('media/img-app/loading-light.png'); */
  /* --details-bg: #21d65a94; */
}

/*#endregion*/


/*#region ___________________________ From React Template ____________________________*/

.myclass {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hyperlink {
  color: #61dafb;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*#endregion*/


/*#region _____________________________ Debugging Tools ______________________________*/

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
    background-color: #ff000010;
} */

/*#endregion*/