/*#region _____________________________ Reset / Defaults ______________________________*/

* {
  margin: 0; /* Remove default margin */
  padding: 0;
  box-sizing: border-box; /* A more intuitive box-sizing model */
  font-family: 'Montserrat', sans-serif;
}

html {
  text-size-adjust: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

#root { /* These would usually be placed on the <body>, but React nests everything in a 'root' div */
  min-height: 100vh; /* [old] height: 100%; */ /* If the body is not taking up the full screen,
  then make it take up the full screen, so that the footer doesn't float up to the middle of the page
  if we don’t have a lot of content. But if there is a lot of content, let it grow to its size. */
  display: flex;
  flex-direction: column; /* Flex-actions should be performed vertically */
}

img, picture, video, canvas, svg {
  max-width: 100%; /* Stop images from overflowing & fix weird spacing */
  display: block;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; /* Stop text from overflowing */
  color: var(--font);
}

ul { /* Remove bullet points from lists */
  list-style-type: none;
}
ul, ol, menu {
  list-style: none;
}

input, button, textarea, select {
  font: inherit; /* Inputs and buttons should inheret font styles */
}

button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

/* address, article, aside, body, dialog, div, dl, fieldset, figure, footer, form, header, hgroup, html, iframe, label, legend, li, main, menu, nav, ol, section, ul {
  display: flex;
  flex-direction: column;
} */

/*#endregion*/


main {
  /* [old] width: 100vw; 100%;*/
  /* [old] height: 100vh; 100%; */
  /* [old] margin: 0 auto; 0; */
  /* min-height: 100vh; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  /*flex-grow: 1;  Grow as tall as possible, after the footer takes it’s natural space. This means that the footer is as big as it needs to be, and the body content grows as to fill the remaining space. */
  flex: 1 0 auto;
}


/*#region __________________________________ Themes ___________________________________*/

:root {
  --accent1: #12852d; /* #9A97F3; */
  --accent2: #6b6cf2; /* #818cab; #FF3100; */
  --font: #e5e5fb;
  --bg: #18191a; /* #282c34; #2c302d; #242424; #212023; */
  --panel: #242526; /* #171717; #29282b; */
  --hover: #606060;
  --theme-label-image: url('./components/Navbar/sun.svg');
  --loading-image: url('./components/loading-dark.png');
  /* --details-bg: #09c6454c; */
}

[data-theme="light"] {
  --accent1: #13ad37;
  --accent2: #e77421; /* #e77421; */
  --font: #424242;
  --bg: rgb(235, 235, 235);
  --panel: #fff;
  --hover: #afafaf; /* #606060; */
  --theme-label-image: url('./components/Navbar/moon.svg');
  --loading-image: url('./components/loading-light.png');
  /* --details-bg: #21d65a94; */
}

:root {
  /* dark shades of primary color*/
   --clr-primary-1: #063251;
   --clr-primary-2: #104e7a;
   --clr-primary-3: #1a6aa2;
   --clr-primary-4: #2d87c8;
  /* primary/main color */
   --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
   --clr-primary-6: #6ebef7;
   --clr-primary-7: #8bcbf9;
   --clr-primary-8: #a5d5f8;
   --clr-primary-9: #c5e5fc;
   --clr-primary-10: #ebf7ff;
  /* darkest grey - used for headings */
   --clr-grey-1: #102a42;
   --clr-grey-2: #243a52;
   --clr-grey-3: #324d67;
   --clr-grey-4: #48647f;
  /* grey used for paragraphs */
   --clr-grey-5: #617d98;
   --clr-grey-6: #829ab0;
   --clr-grey-7: #9eb2c7;
   --clr-grey-8: #bcccdc;
   --clr-grey-9: #dae2ec;
   --clr-grey-10: #f1f5f8;
   --clr-white: #fff;
   --clr-red-dark: #bb2525;
   --clr-red-light: #e66b6b;
   --clr-green-dark: #25bb32;
   --clr-green-light: #6be675;
   --clr-black: #222;
   --transition: all 0.3s linear;
   --spacing: 0.1rem;
   --radius: 0.25rem;
   --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
   --max-width: 1170px;
   --fixed-width: 620px;
}

/*#endregion*/


/*#region ___________________________ From React Template ____________________________*/

.myclass {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hyperlink {
  color: #61dafb;
}

/*#endregion*/


/*#region _____________________________ Debugging Tools ______________________________*/

/* * {
    outline: 1px solid red;
    outline-offset: -1px;
    background-color: #ff000010;
} */

/*#endregion*/