#sounds {
    margin: auto; /* Centre the container */
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    color: var(--font);
    padding: 0.6rem;
    max-width: var(--max-width);
    justify-content: center;
    /* align-items: center; */

    /* width: auto;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 0 1rem;
    gap: 2rem 2rem; https://stackoverflow.com/questions/20626685
    flex-direction: row;
    justify-items: center; */
}


/*#region ______________________________ Responsiveness _______________________________*/

@media (min-width: 40rem) {
    #sounds {
        grid-template-columns: 1fr 1fr; /* [note] This could also be achieved with "repeat(auto-fit, minmax(40rem, 1fr));" */
    }
}
  
@media (min-width: 58rem) {
    #sounds {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 76rem) {
    #sounds {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 94rem) {
    #sounds {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

/*#endregion*/