.vs
.vscode
private

bin
obj

MusicStore.Server/EntityFramework/Migrations/*

MusicStore.Client/build
MusicStore.Client/node_modules
MusicStore.Client/package-lock.json
MusicStore.Client/.next

!.gitkeep
