.vs
Hidden
API/bin
API/obj
.vscode
client/build
API/Migrations
package-lock.json
client/node_modules
Client/media/img-sounds-full

# inserted by create-react-app:
/.pnp
.pnp.js
/coverage
.DS_Store
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.test.local
.env.production.local
.env.development.local