#loading {
    width: 3em;
    margin: 2rem auto; /* Add space above and below element. The sides are set to auto so that it gets centred. */
    animation: spin 1s infinite linear;
    color: var(--font);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}