#footer {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--panel);
    text-align: center;
}

#footer > h5 {
    color: var(--font);
    margin: 0.1rem;
    font-weight: 400;
    line-height: 1.25;
}

@media (min-width: 50rem) {
    #footer {
        flex-direction: row;
    }
}