header {
    width: 100%;
    background-color: #000000;
    text-align: center;
    display: flex;
    justify-content: space-evenly; /* Horizontal centre */
    align-items: center; /* Vertical centre */
    /* overflow:hidden; */
    flex-wrap: nowrap;
    /* padding: 20px 10px; */
    /* padding: 20px 0; */
    padding: 0px 1rem;
}

#header-left, #nav, #header-right {
    flex: 1; /* Each of these items should take up 1 unit of space */
}

#header-left {
    display: flex;
    justify-content: left;
    width: 2.5em;
    height: 2.5em;
}

#logo {
    object-fit: cover;
    min-width: 2.5em;
    /* height:auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* position: absolute; */
	/* top: calc(50% - 20px); */
    /* width: 2.5rem;
	height: 2.5rem;
    display: block; */

    /* height: 40vmin;
    pointer-events: none;
    animation: spin infinite 20s linear; */
}

#nav {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#nav a { /* Hyperlinks */
    padding: 1rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    transition-duration: 0.3s;
}

/* @media only screen and (max-width:600px) {
    #nav a {
        font-size:1rem;
    }
} */

#nav a:hover {
    color: var(--hover);
    transition-duration: 0.3s;
}

#nav-active { /* TODO: Fix. */
    color: var(--primary);
    transition-duration: 0.3s;
    cursor: context-menu;
}

#header-right {
    display: flex;
    justify-content: right;
}

#theme-checkbox {
	display: none;
    /* float: right; */
}

#theme-label {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;	
	background: var(--theme-label-image) no-repeat;
    /* display: block; */
    /* background-size: 100%; */
    /* text-align: center; */
    /* float: right; */
    /* margin-right: 10px; */
}