#loading {
    width: 3em;
    margin: 2rem auto; /* Add space above and below element. The sides are set to auto so that it gets centred. */
    content: var(--loading-image); /* Equivalent to "src" in html */
    animation: spin 0.8s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}