.basket-btn-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.basket-btn-container > * {
  margin: 0.18rem;
}

.basket-svg {
    height: 1.7rem;
    fill: var(--font);
    stroke: var(--font);
    /* margin-left: 5px; */
}

.basket-btn-container > span {
  color: var(--font);
  font-size: 1rem;
}