.close-btn {
    width: 3rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-red-dark);
    margin-top: 0.2rem;
}

.close-btn:hover {
    color: var(--clr-red-light);
}