.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.menu-links {
    margin-bottom: 2rem;
}

.menu-links a {
    display: block;
    text-align: left;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 1rem 1.5rem;
    color: var(--font);
    transition: var(--transition);
    letter-spacing: var(--spacing);
    text-decoration: none; /* Remove underline */
}

.menu-links a:hover {
    padding: 1rem 1.5rem;
    padding-left: 2rem;
    background: var(--clr-grey-10);
    color: var(--clr-grey-2);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--panel);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: -1;
    text-align: center;
}

.show-menu {
    transform: translate(0);
    z-index: 999;
}

.menu-lower-btns {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .menu {
        display: none;
    }
}