/* .nav-center > * {
	 height: 5rem;
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 */

header {
    width: 90vw; /* 100% */
    background-color: var(--panel); /* #000000 */
    text-align: center;
    display: flex;
    justify-content: space-between; /* Horizontal centre */
    align-items: center; /* Vertical centre */
    /* overflow: hidden; */
    flex-wrap: nowrap;
    /* padding: 20px 10px; */
    /* padding: 20px 0; */
    padding: 0px 1rem;
    margin: 0 auto;
    max-width: var(--max-width);
    height: 3rem;
}

.header-side {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-side > * {
margin: 0.5rem;
}

.logo {
    object-fit: contain;
    height: 2.2rem;
    display: block;
    justify-self: center;
}

.nav-links {
    display: none;
}

.nav-links a {
    text-decoration: none; /* Remove underline */
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--font)
}

@media (min-width: 992px) {
    .nav-center {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
   }
    .nav-links {
        display: flex;
        justify-content: center;
   }
    .nav-links li {
        margin: 0 0.5rem;
   }
    .nav-links a {
        font-size: 1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        padding: 0.5rem;
   }
    .nav-links a:hover {
        border-bottom: 2px solid var(--clr-primary-7);
   }
    .cart-btn-wrapper {
        display: grid;
   }
}

@media (max-width: 62rem) {
    .hide-on-min-width {
        display: none !important;
    }
}