header {
    width: 90vw; /* 100% */
    background-color: var(--panel); /* #000000 */
    text-align: center;
    display: flex;
    justify-content: space-between; /* Horizontal centre */
    align-items: center; /* Vertical centre */
    /* overflow: hidden; */
    flex-wrap: nowrap;
    /* padding: 20px 10px; */
    /* padding: 20px 0; */
    padding: 0px 1rem;
    margin: 0 auto;
    max-width: var(--max-width);
    height: 3rem;
}

.header-left-side {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.header-right-side {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.logo {
    object-fit: contain;
    height: 2.2rem;
    display: block;
    justify-self: center;
}

.nav-links {
    display: flex;
    justify-content: center;
    padding-left: 0;
    flex: 4;
}

.nav-links li {
    margin: 0 0.5rem;
}

.nav-links a {
    letter-spacing: var(--spacing);
    padding: 0.5rem;
    text-decoration: none; /* Remove underline */
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--font);
}

.nav-links a:hover {
    border-bottom: 2px solid var(--accent1);
}

@media (max-width: 62rem) {
    .hide-under-max-width {
        display: none !important;
    }
}