.theme-btn {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
}

.theme-btn > input {
	display: none;
    /* float: right; */
}

.theme-btn > label {
	width: 2rem;
	height: 2rem;
	cursor: pointer;	
	background: var(--theme-label-image) no-repeat;
    /* display: block; */
    /* background-size: 100%; */
    /* text-align: center; */
    /* float: right; */
    /* margin-right: 10px; */
}

/* .theme-svg {
    height: 1.7rem;
    fill: var(--font);
    stroke: var(--font);
} */

@media (max-width: 62rem) {
    .theme-btn {
        display: none;
   }
}