#theme-btn-container {
    display: flex;
    justify-content: right;
}

#theme-checkbox {
	display: none;
    /* float: right; */
}

#theme-label {
	width: 2rem;
	height: 2rem;
	cursor: pointer;	
	background: var(--theme-label-image) no-repeat;
    /* display: block; */
    /* background-size: 100%; */
    /* text-align: center; */
    /* float: right; */
    /* margin-right: 10px; */
}

@media (max-width: 62rem) {
    #theme-btn-container {
        display: none;
   }
}