#tags {
    display: flex;
    flex-wrap: wrap;
    padding: 1.7rem;
    max-width: 110rem;
    column-gap: 1.1rem;
    row-gap: 0.8rem;
    margin: auto;
    max-width: 100rem;
    /* justify-content: center; */
}

/* #tags .tag label {
    display: inline-block;
    width:8em;
    background-color: #42b4d6;
    border-radius: 6px;
    color: #ffffff;
    padding: 0.5em;
} */